
#main-nav
    background: rgba($color-primary-dark, .2)
    width: 100%
    height: 5rem
    transform: translate(0,4rem)
    .logo-box
        position: absolute
        top: -5rem
        left: 8rem
        .logo
            height: 15.5rem
    ul
        width: 80%
        @include clearingFunction 
    li
        float: right
        font-size: 2.2rem
        margin-left: 5rem
        margin-top: .75rem
        list-style: none
        width: (65%/3)
    input
        float: right
        transform: translateY(-4.3rem)
        width: 10%
        margin-right: 1rem
        border-radius: .5rem
