//VARIABLES
//Colors Based on a specific color theme. everything can be dybamically changed 
$color-primary: #81A3A7
$color-primary-light: #C2D3DA
$color-primary-dark:  #585A56


$color-secondary-light: #F1F3F2   
$color-secondary-dark: #272427   

$color-tertiary-light: #2998ff   
$color-tertiary-light: #5643fa   

$color-grey-light-1: #C2BBB0
$color-grey-light-2: #eee

$color-grey-dark:  #717271
$color-white: #fff
$color-black: #000

//FONT SIZES
$default-font-size: 1.6rem


//Grid Varibales
$gutter-width: 114rem
$gutter-vertical: 8rem
$gutter-horizontal: 6rem

//MediaQueries
$tablet-width: 768px
$desktop-width: 1070px
$phone-width: 375px